/* Main css of the Projects */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
      font-family: 'Kumbh Sans', sans-serif;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      background-color: hsl(185, 75%, 39%);
      color: hsl(227, 10%, 46%);
      font-weight: 400;
    }
    .top,
    .bottom {
position: absolute;
    }

    .top{
        transform: translate(-35%,-55%);
    }
    .bottom{
        bottom: 0;
        right: 0;
    }
    .bottom{
        transform: translate(25% , 65%);
    }



    .card {
        width: clamp(320px, calc(50vh - 100px), 400px);

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 12px;
        background-color: white;
        box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.2);
        }




        .card_top{
            width: 100%;
            height: 135px;

            position: relative;
            background-image: url("images/bg-pattern-card.svg");
            background-size: contain;

            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }



        .card_profile {
            width: 50%;
            height: 100px;
            border-radius: 50%;
            background: white;
            padding: 5px;
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translate(-50%);
        }



        .card_profile img {
            width: 100%;
            height: 100%;
            border-radius: 50%;

        }


        .card_info {
            margin-top: 60px;
            display: grid;
            grid-template-columns: 60% auto;
        }
        .card_name{
            padding: 15px 5px;
            text-align: right;
            font-weight: 700;
            color: hsl(229, 23%, 23%);
        }
        .card_age{
            padding: 15px 5px;
        }
        .card_place{
             grid-column: span 2;
             text-align: center;
             font-size: 14px;
             color: hsl(0, 0%, 59%);
        }

        .card_stats{
            margin-top: 15px;
            padding: 20px 0;
            border-top: 1px solid hsl(0, 0%, 59%);
            display: flex;
        }

        .stats {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .stat_num {
            font-size: 18px;
            color: hsl(229, 23%, 23%);
            font-weight: 700;
            margin-bottom: 5px;
        }
        .stat_title {
            font-size: 14px;
            color: hsl(0, 0%, 59%);
        }

    @media screen and (max-width: 706px) {
        .top {
            transform: translate(-70%, -55%);
        }
        .bottom {
            transform: (70%, 55%);
        }
    }
        @media screen  and (max-height: 700px) {
        .bottom {
            transform: translate(70%, 75%);
        }
    }
    @media screen and (max-width: 340px) {
        .card {
            width: 280px;
        }
    }