/* Main css of the Projects */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
      font-family: 'Kumbh Sans', sans-serif;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      background-color: hsl(185, 75%, 39%);
      color: hsl(227, 10%, 46%);
      font-weight: 400;
    }

    .top {
        height: 50vw;
        width: 50vw;
        transform: translate(-14vw, -13vw);
    }
    .bottom {
            height: 50vw;
            width: 50vw;
            transform: translate(62vw, -25vw);
    }

    .card {
        width: 30vw;
        height: 30vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.5vw;
        background-color: white;
        box-shadow: 1vw 1vw 0.8vw rgb(26 139 149);
        }




        .card_top{
            width: 100%;
            height: 10vw;
            position: relative;
            background-image: url("images/bg-pattern-card.svg");
            background-size: contain;

            border-top-left-radius: 0.5VW;
            border-top-right-radius: 0.5VW;
        }



        .card_profile {
            width: 9vw;
            height: 9vw;
            border-radius: 50%;
            background: white;
            padding: 0.23vw;
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translate(-50%);
        }



        .card_profile img {
            width: 8.6vw;
            height: 8.6vw;
            border-radius: 50%;
        }


        .card_info {
            width: 100%;
            height: 12vw;
            position: relative;
        }
        .card_name{
            font-weight: 700;
            font-size: 1.1vw;
            color: hsl(229, 23%, 23%);
            position:absolute;
            top: 5vw;
            left: 11vw;
        }
        .card_age{
            position:absolute;
            font-size: 1.1vw;
            top: 5vw;
            left: 18vw;
        }
        .card_place{
             color: hsl(0, 0%, 59%);
             font-size: 1.1vw;
             position:absolute;
             top: 6.5vw;
             left: 13.5vw;
        }

        .card_stats{
            width: 100%;
            height: 8vw;
            padding: 1vw;
            border-top: 0.1vw solid hsl(0, 0%, 59%);
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        .stats {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .stat_num {
            font-size: 1.2vw;
            color: hsl(229, 23%, 23%);
            font-weight: 700;
        }
        .stat_title {
            font-size: 1vw;
            color: hsl(0, 0%, 59%);
        }